<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span><a routerLink=""><img src="../../assets/img/site_logo.png" alt="Ha$kellh0FF MARKT" height="250vh" width="250vw"></a></span>

    <span class="example-fill-remaining-space"></span>

    <button mat-button routerLink="signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Regisztráció</button>
    <button mat-button routerLink="login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Bejelentkezés</button>
    <button mat-button *ngIf="userIsAuthenticated">Kijelentkezés</button>
    <button mat-button *ngIf="userIsAuthenticated">Kosár</button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="mobilMenu">Mobiltelefon</button>
    <mat-menu #mobilMenu="matMenu">
      <button mat-menu-item>Okostelefonok</button>
      <button mat-menu-item>Hagyományos készülékek</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="tvMenu">Televízió</button>
    <mat-menu #tvMenu="matMenu">
      <button mat-menu-item>OLED TV</button>
      <button mat-menu-item>4K UHD Tv</button>
      <button mat-menu-item>Smart TV</button>
      <button mat-menu-item>Led TV</button>
      <button mat-menu-item>QLED 8K/4K TV</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="pcMenu">Számítástechnika</button>
    <mat-menu #pcMenu="matMenu">
      <button mat-menu-item>Laptop, Notebook</button>
      <button mat-menu-item>Gamer Laptop</button>
      <button mat-menu-item>Apple MacBook</button>
    </mat-menu>

    <button mat-button>Akciók</button>
  </mat-toolbar-row>
</mat-toolbar>
