<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="mobilMenu">Mobiltelefon</button>
    <mat-menu #mobilMenu="matMenu">
      <button mat-menu-item>Apple</button>
      <button mat-menu-item>HUAWEI</button>
      <button mat-menu-item>Samsung</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="tvMenu">Televízió</button>
    <mat-menu #tvMenu="matMenu">
      <button mat-menu-item>LG</button>
      <button mat-menu-item>Samsung</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="pcMenu">Számítástechnika</button>
    <mat-menu #pcMenu="matMenu">
      <button mat-menu-item>Apple</button>
      <button mat-menu-item>Asus</button>
      <button mat-menu-item>HP</button>
      <button mat-menu-item>Lenovo</button>
      <button mat-menu-item>Navon</button>
    </mat-menu>

    <button mat-button>Akciók</button>

    <span class="fill-remaining-space"><a routerLink=""><img src="../../assets/img/site_logo.png" alt="Ha$kellh0FF MARKT" height="250vh" width="250vw"></a></span>

    <button mat-button routerLink="signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Regisztráció</button>
    <button mat-button routerLink="login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Bejelentkezés</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="userinfo" routerLinkActive="mat-accent">Felhasználói adatok</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="cart">Kosár</button>
    <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Kijelentkezés</button>
  </mat-toolbar-row>
</mat-toolbar>
