<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-button (click)="navigateTo('smartphone')">Mobiltelefon</button>
    <button mat-button (click)="navigateTo('tv')">Televízió</button>
    <button mat-button (click)="navigateTo('notebook')">Notebook</button>
    <button mat-button (click)="navigateTo('all')">Összes termék</button>

    <span class="fill-remaining-space"><a routerLink=""><img src="../../assets/img/site_logo.png" alt="Ha$kellh0FF MARKT" height="100%" width="100%"></a></span>

    <button mat-button routerLink="signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Regisztráció</button>
    <button mat-button routerLink="login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Bejelentkezés</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="userinfo" routerLinkActive="mat-accent">Felhasználói adatok</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="uploadmoney" routerLinkActive="mat-accent">Egyenleg feltöltés</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="order" routerLinkActive="mat-accent">Rendelések</button>
    <button mat-button *ngIf="userIsAuthenticated" routerLink="cart">Kosár</button>
    <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Kijelentkezés</button>
  </mat-toolbar-row>
</mat-toolbar>
