.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

mat-toolbar {
  border-color: black;
  border-width: thick;
  border-top: solid 10px black;
  border-left: solid 10px black;
  border-right: solid 10px black;
  color: black;
}
