<div class="titleContainer">
  <h1 class="title">Admin fiók</h1>
</div>







<p class="info-text mat-body-1" *ngIf="users.length <= 0">Nincs regisztrált felhasználó</p>
<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column' class="blue-column">
      <h3>Bevételi statisztika: </h3>
      <div *ngFor="let income of incomes">
        {{income.datum.getFullYear()}}. {{income.datum.getMonth()+1}}.hónap:
        <mat-slider min="1" max="4000000" value="{{income.osszeg}}" disabled="true"></mat-slider>
        {{income.osszeg}}ft.
      </div>
    </div>


    <div class='column'>
      <div class='green-column'>
        <div class="mat-accordion">
          <mat-accordion multi="true">
            <h3>Szállításra váró rendelések:</h3>
            <mat-expansion-panel class="panelRowOrders" *ngFor="let city of cities">
              <mat-expansion-panel-header>
                {{city}}
              </mat-expansion-panel-header>
              <div *ngFor="let order of orders">
                <span *ngIf="order.city === city">
                  <strong>Rendelési azonosító:</strong>{{order?.id}} <br>
                  <strong>Rendelve:</strong> {{getDifferenceInDays(order?.payDate)}} napja <span *ngIf="getDifferenceInDays(order?.payDate) > 5" style="color:red"> <strong>(Több mint 5 napja fizettek!)</strong></span>
                </span>
              </div>
              <mat-action-row>
                <button mat-raised-button color="warn" (click)="deliverOrders(city)">Szállítás</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class='column'>
      <div class='blue-column'>
        <div class="mat-accordion">
          <mat-accordion multi="true" *ngIf="users.length>0">
          <h3>Felhasználó bázis: </h3>
            <mat-expansion-panel *ngFor="let user of users" class="panelRowUsers">
              <mat-expansion-panel-header>
                {{user.name}}
              </mat-expansion-panel-header>
              <p><strong>Email címe:</strong> {{user.email}}</p>
              <p><strong>Telefonszáma:</strong> {{user.phoneNumber}}</p>
              <p><strong>Egyenlege:</strong> {{user.balance}}ft</p>
              <!--<mat-slider min="0" max="100000" value="{{user?.BALANCE}}" thumbLabel tickInterval="1"></mat-slider>-->
              <!--<mat-card-actions align="end">-->
                <!--<button color="accent" mat-raised-button (click)="0">Egyenleg módosítás</button>-->
              <!--</mat-card-actions>-->
              <!--<mat-expansion-panel class="panelRowAdressExpansion">-->
                <!--<mat-expansion-panel-header>-->
                  <strong><p>Lakcíme:<p></strong>
              <!--</mat-expansion-panel-header>-->
                <p>{{user.city}} {{user.street}} {{user.streetNumber}}</p>
              <!--</mat-expansion-panel>-->

            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
</div>



