.mat-accordion  {
  width: min-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: stretch;
}

h3  {
  width: 250px;
  color: black;
}

.panelRowOrders {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 1%;
  margin-bottom: 1%;
  width: 200%;
}

.panelRowUsers {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 1%;
  margin-bottom: 1%;
  width: 200%;
}

.panelRowAdressExpansion  {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  /*background-color: blue;*/
  height: 100px;
}

.green-column {
  /*background-color: green;*/
  height: 100px;
  color: white;
}

.some-page-wrapper  {
  margin-top: 1%;
}

.income{
  margin-top: 10%;
}
