mat-card {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.product-image {
  padding-top: 5%;
  width: 80%;
  margin: auto;
  border-radius: 2%;
}

.product-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  border-radius: 2%;
}

mat-expansion-panel {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.productCard  {
  float: left;
  width: 50%;
}
.productSpecification {
  float: right;
  width: 50%;
}

.commentCard  {
  float: right;
  width: 50%;
  margin-top: 1%;
}

