<div *ngIf="productType === 'tv' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{tv?.MANUFACTURER}} {{tv?.PRODUCTNAME}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{tv?.PRODUCTNUMBER}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{tv?.IMGURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{tv?.RELEASEDATE.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{tv?.PRICE}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated" matTooltip="Jelenleg raktáron: {{tv?.QUANTITY}}" matTooltipPosition="above">
        Kosárba
      </button>
      <button mat-raised-button *ngIf="!isUserAuthenticated" disabled>Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'tv' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>

    </mat-expansion-panel-header>
    <p>Felbontás: {{tv?.RESOLUTION}}</p>
    <p>Képátló: {{tv?.SCREENSIZE}}</p>
    <p>Panel típusa: {{tv?.PANELTYPE}}</p>
    <p>Képfrissítés: {{tv?.REFRESHRATE}}</p>
    <p>Portok: {{tv?.PORTTYPE}}</p>
    <mat-action-row>
      <mat-form-field>
        <mat-label>Összehasonlítás</mat-label>
        <mat-select [(value)]=selectedId>
          <mat-option *ngFor="let product of products" [value]="product?.ID">
            {{product?.PRODUCTNAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button color="warn" (click)="compare(selectedId)">Hasonlít</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<div *ngIf="productType === 'phone' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{smartphone?.MANUFACTURER}} {{smartphone?.PRODUCTNAME}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{smartphone?.PRODUCTNUMBER}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{smartphone?.IMGURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{smartphone?.RELEASEDATE.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{smartphone?.PRICE}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated" matTooltip="Jelenleg raktáron: {{smartphone?.QUANTITY}}" matTooltipPosition="above">
        Kosárba
      </button>
      <button mat-raised-button disabled *ngIf="!isUserAuthenticated">Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'phone' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Felbontás: {{smartphone?.RESOLUTION}}</p>
    <p>Képátló: {{smartphone?.SCREENSIZE}}</p>
    <p>Panel típusa: {{smartphone?.PANELTYPE}}</p>
    <p>Operációs rendszer: {{smartphone?.OS}}</p>
    <p>Memória (RAM): {{smartphone?.RAM}}</p>
    <p>Belső Tárhely (ROM): {{smartphone?.ROM}}</p>
    <mat-action-row>
      <mat-form-field>
        <mat-label>Összehasonlítás</mat-label>
        <mat-select [(value)]="selectedId">
          <mat-option *ngFor="let product of products" [value]="product?.ID">
            {{product?.PRODUCTNAME}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-button color="warn" (click)="compare(selectedId)">Hasonlít</a>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<div *ngIf="productType === 'notebook' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{notebook?.MANUFACTURER}} {{notebook?.PRODUCTNAME}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{notebook?.PRODUCTNUMBER}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{notebook?.IMGURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{notebook?.RELEASEDATE.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{notebook?.PRICE}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated" matTooltip="Jelenleg raktáron: {{notebook?.QUANTITY}}" matTooltipPosition="above">
        Kosárba
      </button>
      <button mat-raised-button *ngIf="!isUserAuthenticated" disabled>Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'notebook' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>

    </mat-expansion-panel-header>
    <p>Felbontás: {{notebook?.RESOLUTION}}</p>
    <p>Képátló: {{notebook?.SCREENSIZE}}</p>
    <p>Panel típusa: {{notebook?.PANELTYPE}}</p>
    <p>Operációs rendszer: {{notebook?.OS}}</p>
    <p>Memória (RAM): {{notebook?.RAM}}</p>
    <p>Processzor: {{notebook?.CPU}}</p>
    <p>Háttértár típusa: {{notebook?.STORAGETYPE}}</p>
    <p>Háttértár kapacitása: {{notebook?.STORAGECAPACITY}}</p>
    <mat-action-row>
        <mat-form-field>
            <mat-label>Összehasonlítás</mat-label>
            <mat-select [(value)]="selectedId">
              <mat-option *ngFor="let product of products" [value]="product?.ID">
                {{product?.PRODUCTNAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <button mat-button color="warn" (click)="compare(selectedId)">Hasonlít</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
<div class="commentCard">
<app-comment></app-comment>
</div>
