<div class="titleContainer">
  <h1 class="title">
    <span *ngIf="tv">{{tv.manufacturer + ' '}}{{tv?.productName}}</span>
    <span *ngIf="notebook">{{notebook?.manufacturer}}{{notebook?.productName}}</span>
    <span *ngIf="smartphone">{{smartphone?.manufacturer }}{{smartphone?.productName}}</span>
  </h1>
</div>
<div *ngIf="productType === 'tv' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{tv?.manufacturer}} {{tv?.productName}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{tv?.productName}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{tv?.imgURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{tv?.releaseDate.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{tv?.price}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated && tv?.quantity > 0" (click)="addToCart()"
      matTooltip="Jelenleg raktáron: {{tv?.quantity}}" matTooltipPosition="above">
        Kosárba
      </button>
      <button mat-raised-button *ngIf="!isUserAuthenticated || tv?.quantity === 0" disabled>Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'tv' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>

    </mat-expansion-panel-header>
    <p>Felbontás: {{tv?.resolution}}</p>
    <p>Képátló: {{tv?.screensize}}</p>
    <p>Panel típusa: {{tv?.panelType}}</p>
    <p>Képfrissítés: {{tv?.refreshRate}}</p>
    <p>Portok: {{tv?.portType}}</p>
    <mat-action-row>
      <mat-form-field>
        <mat-label>Összehasonlítás</mat-label>
        <mat-select [(value)]=selectedId>
          <mat-option *ngFor="let product of products" [value]="product?.id">
            {{product?.productName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button color="warn" (click)="compare(selectedId)">Összehasonlítás</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<div *ngIf="productType === 'smartphone' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{smartphone?.manufacturer}} {{smartphone?.productName}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{smartphone?.productName}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{smartphone?.imgURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{smartphone?.releaseDate.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{smartphone?.price}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated && smartphone?.quantity>0" matTooltip="Jelenleg raktáron: {{smartphone?.quantity}}" matTooltipPosition="above" (click)="addToCart()">
        Kosárba
      </button>
      <button mat-raised-button disabled *ngIf="!isUserAuthenticated || smartphone?.quantity===0">Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'smartphone' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Felbontás: {{smartphone?.resolution}}</p>
    <p>Képátló: {{smartphone?.screensize}}</p>
    <p>Panel típusa: {{smartphone?.panelType}}</p>
    <p>Operációs rendszer: {{smartphone?.os}}</p>
    <p>Memória (RAM): {{smartphone?.ram}}</p>
    <p>Belső Tárhely (ROM): {{smartphone?.rom}}</p>
    <mat-action-row>
      <mat-form-field>
        <mat-label>Összehasonlítás</mat-label>
        <mat-select [(value)]="selectedId">
          <mat-option *ngFor="let product of products" [value]="product?.id">
            {{product?.productName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-button color="warn" (click)="compare(selectedId)">Hasonlít</a>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<div *ngIf="productType === 'notebook' " class="productCard">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        Megnevezés: {{notebook?.manufacturer}} {{notebook?.productName}}
      </mat-card-title>
      <mat-card-subtitle>
        Cikkszám: {{notebook?.productName}}
      </mat-card-subtitle>
    </mat-card-header>
      <div class="product-image">
        <img mat-card-image src="{{notebook?.imgURL}}">
      </div>
    <mat-card-content>
      <p>Megjelenés: {{notebook?.releaseDate.toLocaleDateString()}}</p>
      <app-rate></app-rate>
      <p>Ár: {{notebook?.price}} Ft</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="isUserAuthenticated && notebook?.quantity > 0" matTooltip="Jelenleg raktáron: {{notebook?.quantity}}" matTooltipPosition="above" (click)="addToCart()">
        Kosárba
      </button>
      <button mat-raised-button *ngIf="!isUserAuthenticated || notebook?.quantity === 0" disabled>Kosárba</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="productType === 'notebook' " class="productSpecification">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Specifikáció
      </mat-panel-title>
      <mat-panel-description>
        Kattintson a részletekért!
      </mat-panel-description>

    </mat-expansion-panel-header>
    <p>Felbontás: {{notebook?.resolution}}</p>
    <p>Képátló: {{notebook?.screensize}}</p>
    <p>Panel típusa: {{notebook?.panelType}}</p>
    <p>Operációs rendszer: {{notebook?.os}}</p>
    <p>Memória (RAM): {{notebook?.ram}}</p>
    <p>Processzor: {{notebook?.cpu}}</p>
    <p>Háttértár típusa: {{notebook?.storageType}}</p>
    <p>Háttértár kapacitása: {{notebook?.storageCapacity}}</p>
    <mat-action-row>
        <mat-form-field>
            <mat-label>Összehasonlítás</mat-label>
            <mat-select [(value)]="selectedId">
              <mat-option *ngFor="let product of products" [value]="product?.id">
                {{product?.productName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <button mat-button color="warn" (click)="compare(selectedId)">Hasonlít</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
<div class="commentCard">
<app-comment></app-comment>
</div>
