<mat-card class="cart-card">
  <mat-card-header>
    <div mat-card-avatar class="cart-header-image"></div>
    <mat-card-title>Kosár</mat-card-title>
    <mat-card-subtitle>Üres</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <h2>Kosár tartalma:</h2>
      <table>
        <tr>
            <th>Termék</th>
            <th>Egységár</th>
            <th>Darabszám</th>
            <th>Összesen</th>
            <th></th>
        </tr>
        <tr  *ngFor = "let item of products" >
            <td><mat-list-item role="listitem">
                <a class = "cart-link-button" [routerLink]="['/products',item.productType, item.id]">
                 <img class = "cart-img" src="{{item.imgUrl}}" > </a>

                 {{item.manufacturer}}    {{item.productName}}
                </mat-list-item></td>
                <td>{{item.price}}</td>
                <td>
                <div *ngFor = "let QUAN of cartItems">
                    <div *ngIf = "QUAN.PRODUCT_ID == item.id">
                       {{QUAN.QUANTITY}}
                </div>
                </div></td>
                <div *ngFor = "let QUAN of cartItems">
                    <div *ngIf = "QUAN.PRODUCT_ID == item.id">

                       <td><mat-list-item role="listitem">{{ item.price * QUAN.QUANTITY}} Ft </mat-list-item></td>
                </div>
                </div>
                <td>
                    <button mat-raised-button color="warn" (click) = "removeFromCart(item.id)" >Törlés</button>
                </td>

        </tr>
      </table>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="order()" *ngIf="cartItems.length> 0">Megrendelés véglegesítése</button>
  </mat-card-actions>
</mat-card>
