.cart-card {
  max-width: 50%;
  min-width: 750px;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 1%;
  margin-bottom: 1%;
}

.cart-img {
  max-width: 50px ;
  max-height: 100px ;
  padding-right: 5px ;
}

.cart-link-button {
  padding : 0px 0px 0px 0px ;
  margin : 0px ;
}

.cart-header-image {
  background-image: url('https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-06-512.png');
  background-size: cover;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.rowRecommended {
  display: flex;
  flex-direction: row;
}

.recommendedCard  {
  padding-right: 20px;
}
