<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Hozzászólások
    </mat-panel-title>
    <mat-panel-description>
      Mutasd!
    </mat-panel-description>
  </mat-expansion-panel-header>

  
  <mat-list>
    <mat-list-item *ngFor="let comment of comments" >
      {{comment.COMMENTDATE}},
      <br>{{comment.CONTENT}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <app-comment-create></app-comment-create>

  <mat-action-row>
    <button mat-button color="warn" (click)="addComment()">Hozzászól</button>
  </mat-action-row>
</mat-expansion-panel>
