<mat-list>
  <div fxLayout="row">
    <mat-list-item>Név</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.productName}}
      {{firstSmartphone?.productName}}
      {{firstNotebook?.productName}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.productName}}
      {{secondSmartphone?.productName}}
      {{secondNotebook?.productName}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Szín</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.productColor}}
      {{firstSmartphone?.productColor}}
      {{firstNotebook?.productColor}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.productColor}}
      {{secondSmartphone?.productColor}}
      {{secondNotebook?.productColor}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Megjelenés dátuma</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.releaseDate.toLocaleDateString()}}
      {{firstSmartphone?.releaseDate.toLocaleDateString()}}
      {{firstNotebook?.releaseDate.toLocaleDateString()}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.releaseDate.toLocaleDateString()}}
      {{secondSmartphone?.releaseDate.toLocaleDateString()}}
      {{secondNotebook?.releaseDate.toLocaleDateString()}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Gyártó</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.manufacturer}}
      {{firstSmartphone?.manufacturer}}
      {{firstNotebook?.manufacturer}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.manufacturer}}
      {{secondSmartphone?.manufacturer}}
      {{secondNotebook?.manufacturer}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Ár</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.price}}
      {{firstSmartphone?.price}}
      {{firstNotebook?.price}} Ft
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.price}}
      {{secondSmartphone?.price}}
      {{secondNotebook?.price}} Ft
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Felbontás</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.resolution}}
      {{firstSmartphone?.resolution}}
      {{firstNotebook?.resolution}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.resolution}}
      {{secondSmartphone?.resolution}}
      {{secondNotebook?.resolution}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Képátló mérete</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.screensize}}
      {{firstSmartphone?.screensize}}
      {{firstNotebook?.screensize}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.screensize}}
      {{secondSmartphone?.screensize}}
      {{secondNotebook?.screensize}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item>Panel típusa</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.panelType}}
      {{firstSmartphone?.panelType}}
      {{firstNotebook?.panelType}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.panelType}}
      {{secondSmartphone?.panelType}}
      {{secondNotebook?.panelType}}
    </mat-list-item>
  </div>
  <div fxLayout="row">
    <mat-list-item *ngIf="(firstTv && secondTv)">Képfrissítés (Hz)</mat-list-item>
    <mat-list-item *ngIf="(firstSmartphone && secondSmartphone) || (firstNotebook && secondNotebook)">Operációs Rendszer</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.refreshRate}}
      {{firstSmartphone?.os}}
      {{firstNotebook?.os}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.refreshRate}}
      {{secondSmartphone?.os}}
      {{secondNotebook?.os}}
    </mat-list-item>
  </div>
  <div class="row" fxLayout="row">
    <mat-list-item *ngIf="(firstTv && secondTv)">Portok</mat-list-item>
    <mat-list-item *ngIf="(firstSmartphone && secondSmartphone) || (firstNotebook && secondNotebook)">Memória/ram (GB)</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstTv?.portType}}
      {{firstSmartphone?.ram}}
      {{firstNotebook?.ram}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondTv?.portType}}
      {{secondSmartphone?.ram}}
      {{secondNotebook?.ram}}
    </mat-list-item>
  </div>
  <div class="row" fxLayout="row" *ngIf="(firstSmartphone || firstNotebook)">
    <mat-list-item *ngIf="(firstSmartphone && secondSmartphone)">Belső Tárhely/rom (GB)</mat-list-item>
    <mat-list-item *ngIf="(firstNotebook && secondNotebook)">Processzor (cpu)</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstSmartphone?.rom}}
      {{firstNotebook?.cpu}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondSmartphone?.rom}}
      {{secondNotebook?.cpu}}
    </mat-list-item>
  </div>
  <div class="row" fxLayout="row" *ngIf="(firstNotebook)">
    <mat-list-item> Tárhely mérete és típusa</mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{firstNotebook?.storageCapacity}} GB {{firstNotebook.storageType}}
    </mat-list-item>
    <mat-divider [vertical]=true></mat-divider>
    <mat-list-item>
      {{secondNotebook?.storageCapacity}} GB {{secondNotebook.storageType}}
    </mat-list-item>
  </div>
</mat-list>
