<div class="titleContainer">
  <h1 class="title">Felhasználói profil</h1>
</div>
<mat-card class="userpage-card">
  <mat-card-header>
    <div mat-card-avatar class="userpage-header-image"></div>
    <mat-card-title>{{user?.NAME}}</mat-card-title>
    <mat-card-subtitle *ngIf="user?.AUTHORIZATIONLEVEL == 1">Admin</mat-card-subtitle>
    <mat-card-subtitle *ngIf="user?.AUTHORIZATIONLEVEL != 1">Felhasználó</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png" alt="Hiányzó Kép URL">
  <mat-card-content>
    <mat-list role="list">
      <mat-card-actions align="end">
        <button *ngIf="user?.AUTHORIZATIONLEVEL == 1" mat-raised-button color="warn" routerLink="../adminpage">GODMODE</button>
      </mat-card-actions>
      <h2>Felhasználói adatok</h2>
      <mat-list-item role="listitem">Felhasználható egyenleg: {{user?.BALANCE}}Ft.</mat-list-item>
      <h2>Személyes adatok</h2>
      <mat-list-item role="listitem">Email cím: {{user?.EMAIL}}</mat-list-item>
      <mat-list-item role="listitem">Telefon szám: {{user?.PHONENUMBER}}</mat-list-item>
      <mat-list-item role="listitem"><h4>Szállítási cím:</h4></mat-list-item>
      <mat-list-item role="listitem">{{user?.POSTALCODE}} {{user?.CITY}}, {{user?.STREET}} {{user?.STREETNUMBER}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
