.userpage-card {
  max-width: 400px;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top: 1%;
  margin-bottom: 1%;
}

.userpage-header-image {
  background-image: url('https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png');
  background-size: cover;
}
